body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: aliceblue;
    width: 100%;
}

.face-text{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.description {
    background-color: aliceblue;
    width: 40%;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    align-items: center;
    border: 1px solid silver;
}

img{
    width: 300px;
}

.text {
  color: blue;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    background-color: aliceblue;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;

}

.rodape {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    width:  100%;
    padding: 20px;
}